{% extends "layout.jinja2" %}

{# Start Breadcrumb #}
{% block breadcrumb %}
    <div id="breadcrumb">

        <div class="container w-100 mw-100 pl-3 pr-3">
            <div class="row">
                <div class="col-12">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a class="hover" href="{{ url_for('index_module.index') }}"
                                                           data-i18n="anlihouse-anlihouse"></a>
                            </li>
                            <li class="breadcrumb-item"><a class="hover" href="{{ url_for('index_module.index') }}"
                                                           data-i18n="anlihouse-anlibreeders"></a></li>
                            <li class="breadcrumb-item active" aria-current="page" data-i18n="anlihouse-A215"></li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>

    </div>
{% endblock %}
{# End Breadcrumb #}

{# Start Content #}
{% block content %}
    <div class="container list-of-uploaded-animals">
        <div class="row">
            <div class="col-12">

                <div class="card">
                    <div class="card-header">
                        <span data-i18n="anlihouse-A215"></span>
                        <a id="animalListUploadedAnimalIcon"
                           class="card-header-icon cursor-pointer plus-icon inactive"
                           href="{{ url_for('animal_module.uploading_animal') }}"
                           data-user-email="{{ user_email }}"
                           data-user-name="{{ first_name }} {{ last_name }}">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                 fill="currentColor" class="bi bi-plus-circle-fill" viewBox="0 0 16 16">
                                <path
                                        d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.5 4.5a.5.5 0 0 0-1 0v3h-3a.5.5 0 0 0 0 1h3v3a.5.5 0 0 0 1 0v-3h3a.5.5 0 0 0 0-1h-3v-3z"/>
                            </svg>
                        </a>
                    </div>
                    <div class="card-body">

                        <div class="card-text mb-3">A jószág szerkesztése abban az esetben lehetséges, ha még nem került
                            eladásra vagy törlésre, illetve aukciós értékesítés esetén ezeken felül feltétel, hogy az
                            aukció, amire be lett küldve a jószág, az még nem kezdődött el.
                        </div>

                        <div class="table-responsive">
                            <table class="table table-striped">

                                <thead>
                                <tr>
                                    <th scope="col" data-i18n="megnev"></th>
                                    <th scope="col" data-i18n="ar"></th>
                                    <th scope="col">Eladásra került</th>
                                    <th scope="col">Kiemelve</th>
                                    <th scope="col">Felhasználók által látható</th>
                                    <th scope="col" data-i18n="anlihouse-A232"></th>
                                    <th scope="col" data-i18n="utolso_mod_ideje"></th>
                                </tr>
                                </thead>

                                <tbody>
                                {% for animal in animals %}
                                    <tr>
                                        <th scope="row">{{ animal.animal.name }}</th>
                                        <td><span
                                                data-number-format="{{ animal.animal.price }}">{{ animal.animal.price }}</span>
                                            <span>EUR</span></td>
                                        <td>
                                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                                 fill="#dc3545" class="bi bi-x" viewBox="0 0 16 16">
                                                <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"></path>
                                            </svg>
                                        </td>
                                        <td>
                                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20"
                                                 class="bi bi-check-lg" viewBox="0 0 16 16">
                                                <path d="M12.736 3.97a.733.733 0 0 1 1.047 0c.286.289.29.756.01 1.05L7.88 12.01a.733.733 0 0 1-1.065.02L3.217 8.384a.757.757 0 0 1 0-1.06.733.733 0 0 1 1.047 0l3.052 3.093 5.4-6.425a.247.247 0 0 1 .02-.022Z"></path>
                                            </svg>
                                        </td>
                                        {% if animal.animal.visibility == "True" and animal.animal.worker_visibility == "True" %}
                                            <td>
                                                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20"
                                                     class="bi bi-check-lg" viewBox="0 0 16 16">
                                                    <path d="M12.736 3.97a.733.733 0 0 1 1.047 0c.286.289.29.756.01 1.05L7.88 12.01a.733.733 0 0 1-1.065.02L3.217 8.384a.757.757 0 0 1 0-1.06.733.733 0 0 1 1.047 0l3.052 3.093 5.4-6.425a.247.247 0 0 1 .02-.022Z"></path>
                                                </svg>
                                            </td>
                                        {% else %}
                                            <td>
                                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                                     fill="#dc3545" class="bi bi-x" viewBox="0 0 16 16">
                                                    <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"></path>
                                                </svg>
                                            </td>
                                        {% endif %}
                                        <td data-time-llll="{{ animal.animal.created_at }}">{{ animal.animal.created_at }}</td>
                                        <td data-time-llll="{{ animal.animal.updated_at }}">{{ animal.animal.updated_at }}</td>
                                        <td class="text-center">
                                            <a href="{{ url_for('animal_module.edit_of_uploaded_animal', animal_id=animal.animal.id) }}"
                                               target="_blank"
                                               class="icon-click edit-animal add-previous-url-cookie">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                                     fill="currentColor" class="bi bi-pencil-fill" viewBox="0 0 16 16">
                                                    <path d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708l-3-3zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207l6.5-6.5zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.499.499 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11l.178-.178z"></path>
                                                </svg>
                                            </a>
                                        </td>
                                        <td class="text-center">
                                            <a href="{{ url_for('full_page_module.full_page', category_name=animal['category']['name_en_slug'], subcategory_name=animal['subcategory']['name_en_slug'], page_url=animal['animal']['page_url'], page_id=animal['animal']['id']) }}"
                                               target="_blank"
                                               class="icon-click view-animal">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20"
                                                     fill="currentColor" class="bi bi-eye-fill" viewBox="0 0 16 16">
                                                    <path d="M10.5 8a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0z"/>
                                                    <path d="M0 8s3-5.5 8-5.5S16 8 16 8s-3 5.5-8 5.5S0 8 0 8zm8 3.5a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7z"/>
                                                </svg>
                                            </a>
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>

                            </table>
                        </div>

                        <nav>
                            <ul class="pagination justify-content-end">
                                <li class="page-item {% if pagination_previous == 0 %}disabled{% endif %}">
                                    <a class="page-link"
                                       href="{{ url_for('animal_module.list_of_uploaded_animals', page_number=pagination_previous) }}">
                                        <span>&laquo;</span>
                                    </a>
                                </li>

                                {% for number in pagination_list %}
                                    <li class="page-item {% if page_number == number|int or number == "..." %}disabled{% endif %}">
                                        <a class="page-link"
                                           href="{{ url_for('animal_module.list_of_uploaded_animals', page_number=number) }}">{{ number }}</a>
                                    </li>
                                {% endfor %}

                                <li class="page-item {% if pagination_next > pagination_last %}disabled{% endif %}">
                                    <a class="page-link"
                                       href="{{ url_for('animal_module.list_of_uploaded_animals', page_number=pagination_next) }}">
                                        <span>&raquo;</span>
                                    </a>
                                </li>
                            </ul>
                        </nav>


                    </div>
                    <div class="card-footer text-end" data-i18n="anlihouse-anlibreeders">
                    </div>
                </div>

            </div>
        </div>
    </div>
{% endblock %}
{# End Content #}