{{ anlihouse_anlibreeders }}
<br><br>
{{ welcome }}
<br><br>
{{ pleaseClickBelow }}
<br><br>
{{ verifyEmailAdress }}
<br><br>
{{ ifyoudidnotregistred }}
<br><br>
{{ regards }}
<br><br>
{{ anlihouseTeam }}
<br><br>
{{ havingTroubleAboutClicking }}
<br><br>
<a href="{{ url }}">{{ url }}</a>
<br><br>
{{ pin }}