<div id="yearly1-card" class="row d-none">
    <div class="col col-sm-12 col-md-12 col-lg-4">
        <div class="card mb-4 rounded-3 shadow-sm">
            <div class="card-header py-3 payment-header1">
                <h4 class="my-0 fw-normal"><span data-i18n="anlihouse-A407"></span></h4>
            </div>
            <div class="card-body text-left">

                <span data-i18n="anlihouse-A410"></span>
                <h3 class="card-title pricing-card-title mb-3">
                    <span>{{ start_ad_limit_value }} <span data-i18n="anlihouse-441"></span></span>
                </h3>

                <span data-i18n="anlihouse-A412"></span>
                <h3 class="card-title pricing-card-title mb-3">
                    <span>{{ start_chat_limit_value|int * 12 }} <span data-i18n="anlihouse-441"></span></span>
                </h3>

                <span data-i18n="anlihouse-A411"></span>
                <h3 class="card-title pricing-card-title mb-3">
                    <span>1 <span data-i18n="év"></span></span>
                </h3>

                <span data-i18n="fizetendo"></span>

                <h3 class="card-title pricing-card-title">
                    <span data-i18n="netto"></span> <span>{{ start_1_year_eur_net }} EUR</span>
                    <small class="text-muted fw-light">
                        + <span data-i18n="afa"></span>
                    </small>
                </h3>
            </div>
        </div>
    </div>

    <div class="col col-sm-12 col-md-12 col-lg-4">
        <div class="card mb-4 rounded-3 shadow-sm">
            <div class="card-header py-3 payment-header2">
                <h4 class="my-0 fw-normal"><span data-i18n="anlihouse-A408"></span></h4>
            </div>
            <div class="card-body text-left">

                <span data-i18n="anlihouse-A410"></span>
                <h3 class="card-title pricing-card-title mb-3">
                    <span>{{ basic_ad_limit_value }} <span data-i18n="anlihouse-441"></span></span>
                </h3>

                <span data-i18n="anlihouse-A412"></span>
                <h3 class="card-title pricing-card-title mb-3">
                    <span>{{ basic_chat_limit_value|int * 12 }} <span data-i18n="anlihouse-441"></span></span>
                </h3>

                <span data-i18n="anlihouse-A411"></span>
                <h3 class="card-title pricing-card-title mb-3">
                    <span>1 <span data-i18n="év"></span></span>
                </h3>

                <span data-i18n="fizetendo"></span>

                <h3 class="card-title pricing-card-title">
                    <span data-i18n="netto"></span> <span>{{ basic_1_year_eur_net }} EUR</span>
                    <small class="text-muted fw-light">
                        + <span data-i18n="afa"></span>
                    </small>
                </h3>
            </div>
        </div>
    </div>

    <div class="col col-sm-12 col-md-12 col-lg-4">
        <div class="card mb-4 rounded-3 shadow-sm border-primary">
            <div class="card-header py-3 payment-header3">
                <h4 class="my-0 fw-normal"><span data-i18n="anlihouse-A409"></span></h4>
            </div>
            <div class="card-body text-left">

                <span data-i18n="anlihouse-A410"></span>
                <h3 class="card-title pricing-card-title mb-3">
                    <span data-i18n="anlihouse-A413"></span>
                </h3>

                <span data-i18n="anlihouse-A412"></span>
                <h3 class="card-title pricing-card-title mb-3">
                    <span data-i18n="anlihouse-A413"></span>
                </h3>

                <span data-i18n="anlihouse-A411"></span>
                <h3 class="card-title pricing-card-title mb-3">
                    <span>1 <span data-i18n="év"></span></span>
                </h3>

                <span data-i18n="fizetendo"></span>

                <h3 class="card-title pricing-card-title">
                    <span data-i18n="netto"></span> <span>{{ premium_1_year_eur_net }} EUR</span>
                    <small class="text-muted fw-light">
                        + <span data-i18n="afa"></span>
                    </small>
                </h3>
            </div>
        </div>
    </div>
</div>