<div id="header" class="pt-3 pb-3">

    <div class="container w-100 mw-100 pl-3 pr-3">
        <div class="row">
            <div class="col-12">

                <a href="{{ url_for('index_module.index') }}" id="header-logo" class="">
                    <img class="img" src="{{ url_for("static", filename="images/layout/anli_breeders_logo.png") }}"
                         alt="ANLI Breeders"/>
                    <span class="text" data-i18n="anlihouse-anlibreeders"></span>
                </a>

                <div id="hamburger" class="closed user-select-none">
                    <span class="hamburger-line line01"></span>
                    <span class="hamburger-line line02"></span>
                    <span class="hamburger-line line03"></span>
                    <span class="hamburger-line line04"></span>
                    <span class="hamburger-text" data-i18n="anlihouse-A01"></span>
                </div>

            </div>
        </div>
    </div>

</div>

<div id="search">
    <div class="container w-100 mw-100 pl-3 pr-3">
        <div class="row">
            <div class="col-xxl-9 col-xl-9 col-lg-8 col-md-6 col-sm-6 col-12">
                <div class="search">

                    <div class="search-icon">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                             class="bi bi-search" viewBox="0 0 16 16">
                            <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
                        </svg>
                    </div>

                    <div class="search-text">
                        <form id="filter-form" onsubmit="return false" novalidate="novalidate">
                            {{ filter_form.csrf_token }}

                            {{ filter_form.where_input(type='text', id='searchInput', class='form-control') }}

                            {{ filter_form.where_all(type='hidden', id='filterWhereAllInput', class='form-control') }}

                            {{ filter_form.where_name(type='hidden', id='filterWhereNameInput', class='form-control') }}

                            {{ filter_form.where_description(type='hidden', id='filterWhereDescriptionInput', class='form-control') }}

                            {{ filter_form.where_family(type='hidden', id='filterWhereFamilyInput', class='form-control') }}
                            {{ filter_form.where_family_mother(type='hidden', id='filterWhereFamilyMotherInput', class='form-control') }}
                            {{ filter_form.where_family_mother_mother(type='hidden', id='filterWhereFamilyMotherMotherInput', class='form-control') }}
                            {{ filter_form.where_family_mother_father(type='hidden', id='filterWhereFamilyMotherFatherInput', class='form-control') }}
                            {{ filter_form.where_family_mother_mother_mother(type='hidden', id='filterWhereFamilyMotherMotherMotherInput', class='form-control') }}
                            {{ filter_form.where_family_mother_mother_father(type='hidden', id='filterWhereFamilyMotherMotherFatherInput', class='form-control') }}
                            {{ filter_form.where_family_mother_father_mother(type='hidden', id='filterWhereFamilyMotherFatherMotherInput', class='form-control') }}
                            {{ filter_form.where_family_mother_father_father(type='hidden', id='filterWhereFamilyMotherFatherFatherInput', class='form-control') }}
                            {{ filter_form.where_family_father(type='hidden', id='filterWhereFamilyFatherInput', class='form-control') }}
                            {{ filter_form.where_family_father_mother(type='hidden', id='filterWhereFamilyFatherMotherInput', class='form-control') }}
                            {{ filter_form.where_family_father_father(type='hidden', id='filterWhereFamilyFatherFatherInput', class='form-control') }}
                            {{ filter_form.where_family_father_mother_mother(type='hidden', id='filterWhereFamilyFatherMotherMotherInput', class='form-control') }}
                            {{ filter_form.where_family_father_mother_father(type='hidden', id='filterWhereFamilyFatherMotherFatherInput', class='form-control') }}
                            {{ filter_form.where_family_father_father_mother(type='hidden', id='filterWhereFamilyFatherFatherMotherInput', class='form-control') }}
                            {{ filter_form.where_family_father_father_father(type='hidden', id='filterWhereFamilyFatherFatherFatherInput', class='form-control') }}

                            {{ filter_form.price_min(type='hidden', id='filterPriceMinInput', class='form-control') }}
                            {{ filter_form.price_max(type='hidden', id='filterPriceMaxInput', class='form-control') }}

                            {{ filter_form.category_all(type='hidden', id='filterCategoryInput', class='form-control') }}

                            {{ filter_form.subcategory_all(type='hidden', id='filterSubcategoryInput', class='form-control') }}

                            {{ filter_form.gender_all(type='hidden', id='filterGenderInput', class='form-control') }}

                            {{ filter_form.color_all(type='hidden', id='filterColorInput', class='form-control') }}

                            {{ filter_form.be_used_for_all(type='hidden', id='filterBeUsedForInput', class='form-control') }}

                            {{ filter_form.age_min(type='hidden', id='filterAgeMinInput', class='form-control') }}
                            {{ filter_form.age_max(type='hidden', id='filterAgeMaxInput', class='form-control') }}

                            {{ filter_form.region_residence(type='hidden', id='filterRegionResidenceInput', class='form-control') }}
                            {{ filter_form.country_residence(type='hidden', id='filterCountryResidenceInput', class='form-control') }}

                            {{ filter_form.region_origin(type='hidden', id='filterRegionOriginInput', class='form-control') }}
                            {{ filter_form.country_origin(type='hidden', id='filterCountryOriginInput', class='form-control') }}

                            {{ filter_form.order_by_price(type='hidden', id='filterOrderByPrice', class='form-control') }}
                            {{ filter_form.order_by_age(type='hidden', id='filterOrderByAge', class='form-control') }}
                            {{ filter_form.order_by_rating(type='hidden', id='filterOrderByRating', class='form-control') }}

                            {{ filter_form.encode(type='hidden', id='filterEncode', class='form-control') }}

                            {{ filter_form.only_one_category_id(type='hidden', id='filterOnlyOneCategoryId', class='form-control') }}
                            {{ filter_form.only_one_subcategory_id(type='hidden', id='filterOnlyOneSubcategoryId', class='form-control') }}

                            {{ filter_form.seller_user_id(type='hidden', id='filterSellerUserId', class='form-control') }}
                            {{ filter_form.seller_user_name(type='hidden', id='filterSellerUserName', class='form-control') }}

                            {{ filter_form.wishlist(type='hidden', id='filterWishlist', class='form-control') }}

                            {{ filter_form.snap(type='hidden', id='filterSnap', class='form-control') }}
                        </form>
                    </div>

                    <div class="search-close inactive">
                        <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30"
                             class="bi bi-x" viewBox="0 0 16 16">
                            <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/>
                        </svg>
                    </div>

                </div>
            </div>
            <div class="col-xxl-3 col-xl-3 col-lg-4 col-md-6 col-sm-6">
                <div class="btn-group">
                    <a class="btn btn-primary mr-3" href="{{ url_for('signin_module.sign_in') }}" role="button"
                       data-i18n="bejelentkezes"></a>
                    <a class="btn btn-primary" href="{{ url_for('signup_module.sign_up') }}"
                       role="button" data-i18n="regisztracio"></a>
                </div>
            </div>
        </div>
    </div>

    <div class="container w-100 mw-100 pl-3 pr-3">
        <div class="row">
            <div class="col-12">
                <div id="filter-wrap" class="inactive">
                    <div id="filter">

                        <div id="where" class="">
                            <div class="title" data-i18n="anlihouse-A248"></div>

                            <span class="plus" style="display:none">
                                <span class="badge elem single filterWhereAll active" data-name="filterWhereAll"
                                      data-status="active">
                                    <span class="text" data-i18n="anlihouse-A249"></span>
                                </span>
                                <span class="badge elem plus-icon">
                                    <svg width="16" height="16" viewBox="0 0 752 752"
                                         xmlns="http://www.w3.org/2000/svg"><defs><clipPath class="p"><path
                                            d="m139.21 139.21h473.58v473.58h-473.58z"/></clipPath></defs><g
                                            clip-path="url(.p)"><path
                                            d="m318.6 139.21h114.8v179.39h179.39v114.8h-179.39v179.39h-114.8v-179.39h-179.39v-114.8h179.39z"
                                            fill-rule="evenodd"/></g>
                                    </svg>
                                </span>
                            </span>

                            <div class="badge-group active">

                                <span class="badge elem single filterWhereAll active" data-name="filterWhereAll"
                                      data-status="active">
                                    <span class="text" data-i18n="anlihouse-A249"></span>
                                </span>

                                <span class="badge elem multiple filterWhereName inactive" data-name="filterWhereName"
                                      data-status="inactive">
                                    <span class="text" data-i18n="anlihouse-A250"></span>
                                </span>

                                <span class="badge elem multiple filterWhereDescription inactive"
                                      data-name="filterWhereDescription" data-status="inactive">
                                    <span class="text" data-i18n="anlihouse-A251"></span>
                                </span>

                                <span class="badge elem multiple filterWhereFamily inactive"
                                      data-name="filterWhereFamily" data-status="inactive">
                                    <span class="text" data-i18n="anlihouse-A252"></span>
                                </span>

                                <span class="badge elem minus-icon">
                                    <svg width="16" height="716" viewBox="0 0 752 752"
                                         xmlns="http://www.w3.org/2000/svg">
                                        <path d="m538.79 376c0 32.695-32.695 59.199-59.199 59.199h-207.19c-32.695 0-59.199-26.504-59.199-59.199s32.695-59.199 59.199-59.199h207.19c32.695 0 59.199 26.504 59.199 59.199z"/>
                                    </svg>
                                </span>

                                <span class="family-group inactive">
                                    <span class="badge elem multiple filterWhereFamilyMother inactive"
                                          data-name="filterWhereFamilyMother"
                                          data-status="inactive">
                                        <span class="text" data-i18n="anlihouse-A253"></span>
                                    </span>

                                    <span class="badge elem multiple filterWhereFamilyMotherMother inactive"
                                          data-name="filterWhereFamilyMotherMother"
                                          data-status="inactive">
                                        <span class="text" data-i18n="anlihouse-A254"></span>
                                    </span>

                                    <span class="badge elem multiple filterWhereFamilyMotherFather inactive"
                                          data-name="filterWhereFamilyMotherFather"
                                          data-status="inactive">
                                        <span class="text" data-i18n="anlihouse-A255"></span>
                                    </span>

                                    <span class="badge elem multiple filterWhereFamilyMotherMotherMother inactive"
                                          data-name="filterWhereFamilyMotherMotherMother" data-status="inactive">
                                        <span class="text" data-i18n="anlihouse-A256"></span>
                                    </span>

                                    <span class="badge elem multiple filterWhereFamilyMotherMotherFather inactive"
                                          data-name="filterWhereFamilyMotherMotherFather" data-status="inactive">
                                        <span class="text" data-i18n="anlihouse-A257"></span>
                                    </span>

                                    <span class="badge elem multiple filterWhereFamilyMotherFatherMother inactive"
                                          data-name="filterWhereFamilyMotherFatherMother" data-status="inactive">
                                        <span class="text" data-i18n="anlihouse-A258"></span>
                                    </span>

                                    <span class="badge elem multiple filterWhereFamilyMotherFatherFather inactive"
                                          data-name="filterWhereFamilyMotherFatherFather" data-status="inactive">
                                        <span class="text" data-i18n="anlihouse-A259"></span>
                                    </span>

                                    <span class="badge elem multiple filterWhereFamilyFather inactive"
                                          data-name="filterWhereFamilyFather"
                                          data-status="inactive">
                                        <span class="text" data-i18n="anlihouse-A260"></span>
                                    </span>

                                    <span class="badge elem multiple filterWhereFamilyFatherMother inactive"
                                          data-name="filterWhereFamilyFatherMother"
                                          data-status="inactive">
                                        <span class="text" data-i18n="anlihouse-A261"></span>
                                    </span>

                                    <span class="badge elem multiple filterWhereFamilyFatherFather inactive"
                                          data-name="filterWhereFamilyFatherFather"
                                          data-status="inactive">
                                        <span class="text" data-i18n="anlihouse-A262"></span>
                                    </span>

                                    <span class="badge elem multiple filterWhereFamilyFatherMotherMother inactive"
                                          data-name="filterWhereFamilyFatherMotherMother" data-status="inactive">
                                        <span class="text" data-i18n="anlihouse-A263"></span>
                                    </span>

                                    <span class="badge elem multiple filterWhereFamilyFatherMotherFather inactive"
                                          data-name="filterWhereFamilyFatherMotherFather" data-status="inactive">
                                        <span class="text" data-i18n="anlihouse-A264"></span>
                                    </span>

                                    <span class="badge elem multiple filterWhereFamilyFatherFatherMother inactive"
                                          data-name="filterWhereFamilyFatherFatherMother" data-status="inactive">
                                        <span class="text" data-i18n="anlihouse-A265"></span>
                                    </span>

                                    <span class="badge elem multiple filterWhereFamilyFatherFatherFather inactive"
                                          data-name="filterWhereFamilyFatherFatherFather" data-status="inactive">
                                        <span class="text" data-i18n="anlihouse-A266"></span>
                                    </span>
                                </span>
                            </div>
                        </div>

                        <div id="price">
                            <div class="title" data-i18n="anlihouse-A267"></div>

                            <span class="plus" style="display:none">
                                <span class="badge elem active" style="pointer-events:none;">
                                    <span class="text"><span class="tooltip-lower"></span> - <span
                                            class="tooltip-upper"></span></span>
                                </span>

                                <span class="badge elem plus-icon">
                                    <svg width="16" height="16" viewBox="0 0 752 752"
                                         xmlns="http://www.w3.org/2000/svg"><defs><clipPath class="p"><path
                                            d="m139.21 139.21h473.58v473.58h-473.58z"/></clipPath></defs><g
                                            clip-path="url(.p)"><path
                                            d="m318.6 139.21h114.8v179.39h179.39v114.8h-179.39v179.39h-114.8v-179.39h-179.39v-114.8h179.39z"
                                            fill-rule="evenodd"/></g>
                                    </svg>
                                </span>
                            </span>

                            <div class="badge-group active">

                                <span class="badge elem active" style="pointer-events:none;">
                                    <span class="text"><span class="tooltip-lower"></span> - <span
                                            class="tooltip-upper"></span></span>
                                </span>

                                <span class="badge elem minus-icon">
                                    <svg width="16" height="716" viewBox="0 0 752 752"
                                         xmlns="http://www.w3.org/2000/svg">
                                        <path d="m538.79 376c0 32.695-32.695 59.199-59.199 59.199h-207.19c-32.695 0-59.199-26.504-59.199-59.199s32.695-59.199 59.199-59.199h207.19c32.695 0 59.199 26.504 59.199 59.199z"/>
                                    </svg>
                                </span>

                                {# <div id="price-slider" disabled="false"></div> #}
                                <div id="price-slider"></div>
                            </div>
                        </div>

                        <div id="category">
                            <div class="title" data-i18n="anlihouse-A268"></div>

                            <span class="plus" style="display:none">
                                <span class="badge elem single filterCategoryAll active" data-name="0"
                                      data-status="active">
                                    <span class="text" data-i18n="anlihouse-A269"></span>
                                </span>

                                <span class="badge elem plus-icon">
                                    <svg width="16" height="16" viewBox="0 0 752 752"
                                         xmlns="http://www.w3.org/2000/svg"><defs><clipPath class="p"><path
                                            d="m139.21 139.21h473.58v473.58h-473.58z"/></clipPath></defs><g
                                            clip-path="url(.p)"><path
                                            d="m318.6 139.21h114.8v179.39h179.39v114.8h-179.39v179.39h-114.8v-179.39h-179.39v-114.8h179.39z"
                                            fill-rule="evenodd"/></g>
                                    </svg>
                                </span>
                            </span>

                            <div class="badge-group active">
                                <span class="badge elem single filterCategoryAll active" data-name="0"
                                      data-status="active">
                                    <span class="text" data-i18n="anlihouse-A269"></span>
                                </span>

                                {% for category in filter_category_all %}
                                    {% if category['lang'] == "hu" %}
                                        <span class="badge elem multiple inactive" data-name="{{ category['id'] }}"
                                              data-status="inactive">
                                            <span class="text">{{ category['name_hu'] }}</span>
                                        </span>
                                    {% elif category['lang'] == "en" %}
                                        <span class="badge elem multiple inactive" data-name="{{ category['id'] }}"
                                              data-status="inactive">
                                            <span class="text">{{ category['name_en'] }}</span>
                                        </span>
                                    {% elif category['lang'] == "de" %}
                                        <span class="badge elem multiple inactive" data-name="{{ category['id'] }}"
                                              data-status="inactive">
                                            <span class="text">{{ category['name_de'] }}</span>
                                        </span>
                                    {% elif category['lang'] == "fr" %}
                                        <span class="badge elem multiple inactive" data-name="{{ category['id'] }}"
                                              data-status="inactive">
                                            <span class="text">{{ category['name_fr'] }}</span>
                                        </span>
                                    {% elif category['lang'] == "es" %}
                                        <span class="badge elem multiple inactive" data-name="{{ category['id'] }}"
                                              data-status="inactive">
                                            <span class="text">{{ category['name_es'] }}</span>
                                        </span>
                                    {% endif %}
                                {% endfor %}

                                <span class="badge elem minus-icon">
                                    <svg width="16" height="716" viewBox="0 0 752 752"
                                         xmlns="http://www.w3.org/2000/svg">
                                        <path d="m538.79 376c0 32.695-32.695 59.199-59.199 59.199h-207.19c-32.695 0-59.199-26.504-59.199-59.199s32.695-59.199 59.199-59.199h207.19c32.695 0 59.199 26.504 59.199 59.199z"/>
                                    </svg>
                                </span>
                            </div>
                        </div>

                        <div id="subcategory" class="">
                            <div class="title" data-i18n="anlihouse-A270"></div>

                            <span class="plus" style="display:none">
                                <span class="badge elem single filterSubcategoryAll active" data-name="0"
                                      data-status="active">
                                    <span class="text" data-i18n="anlihouse-A269"></span>
                                </span>

                                <span class="badge elem plus-icon">
                                    <svg width="16" height="16" viewBox="0 0 752 752"
                                         xmlns="http://www.w3.org/2000/svg"><defs><clipPath class="p"><path
                                            d="m139.21 139.21h473.58v473.58h-473.58z"/></clipPath></defs><g
                                            clip-path="url(.p)"><path
                                            d="m318.6 139.21h114.8v179.39h179.39v114.8h-179.39v179.39h-114.8v-179.39h-179.39v-114.8h179.39z"
                                            fill-rule="evenodd"/></g>
                                    </svg>
                                </span>
                            </span>

                            <div class="badge-group active">
                                <span class="badge elem single filterSubcategoryAll active" data-name="0"
                                      data-status="active">
                                    <span class="text" data-i18n="anlihouse-A269"></span>
                                </span>

                                <div class="filterSubcategories"></div>

                                <span class="badge elem minus-icon">
                                    <svg width="16" height="716" viewBox="0 0 752 752"
                                         xmlns="http://www.w3.org/2000/svg">
                                        <path d="m538.79 376c0 32.695-32.695 59.199-59.199 59.199h-207.19c-32.695 0-59.199-26.504-59.199-59.199s32.695-59.199 59.199-59.199h207.19c32.695 0 59.199 26.504 59.199 59.199z"/>
                                    </svg>
                                </span>

                            </div>

                        </div>

                        <div id="gender" class="">
                            <div class="title" data-i18n="anlihouse-A271"></div>

                            <span class="plus" style="display:none">
                                <span class="badge elem single filterGenderAll active" data-name="0"
                                      data-status="active">
                                    <span class="text" data-i18n="anlihouse-A269"></span>
                                </span>

                                <span class="badge elem plus-icon">
                                    <svg width="16" height="16" viewBox="0 0 752 752"
                                         xmlns="http://www.w3.org/2000/svg"><defs><clipPath class="p"><path
                                            d="m139.21 139.21h473.58v473.58h-473.58z"/></clipPath></defs><g
                                            clip-path="url(.p)"><path
                                            d="m318.6 139.21h114.8v179.39h179.39v114.8h-179.39v179.39h-114.8v-179.39h-179.39v-114.8h179.39z"
                                            fill-rule="evenodd"/></g>
                                    </svg>
                                </span>
                            </span>

                            <div class="badge-group active">
                                <span class="badge elem single filterGenderAll active" data-name="0"
                                      data-status="active">
                                    <span class="text" data-i18n="anlihouse-A269"></span>
                                </span>

                                <div class="filterGender"></div>

                                <span class="badge elem minus-icon">
                                    <svg width="16" height="716" viewBox="0 0 752 752"
                                         xmlns="http://www.w3.org/2000/svg">
                                        <path d="m538.79 376c0 32.695-32.695 59.199-59.199 59.199h-207.19c-32.695 0-59.199-26.504-59.199-59.199s32.695-59.199 59.199-59.199h207.19c32.695 0 59.199 26.504 59.199 59.199z"/>
                                    </svg>
                                </span>
                            </div>
                        </div>

                        <div id="color" class="">
                            <div class="title" data-i18n="anlihouse-A272"></div>

                            <span class="plus" style="display:none">
                                <span class="badge elem single filterColorAll active" data-name="0"
                                      data-status="active">
                                    <span class="text" data-i18n="anlihouse-A269"></span>
                                </span>
                                <span class="badge elem plus-icon">
                                    <svg width="16" height="16" viewBox="0 0 752 752"
                                         xmlns="http://www.w3.org/2000/svg"><defs><clipPath class="p"><path
                                            d="m139.21 139.21h473.58v473.58h-473.58z"/></clipPath></defs><g
                                            clip-path="url(.p)"><path
                                            d="m318.6 139.21h114.8v179.39h179.39v114.8h-179.39v179.39h-114.8v-179.39h-179.39v-114.8h179.39z"
                                            fill-rule="evenodd"/></g>
                                    </svg>
                                </span>
                            </span>

                            <div class="badge-group active">
                                <span class="badge elem single filterColorAll active" data-name="0"
                                      data-status="active">
                                    <span class="text" data-i18n="anlihouse-A269"></span>
                                </span>

                                <div class="filterColor"></div>

                                <span class="badge elem minus-icon">
                                    <svg width="16" height="716" viewBox="0 0 752 752"
                                         xmlns="http://www.w3.org/2000/svg">
                                        <path d="m538.79 376c0 32.695-32.695 59.199-59.199 59.199h-207.19c-32.695 0-59.199-26.504-59.199-59.199s32.695-59.199 59.199-59.199h207.19c32.695 0 59.199 26.504 59.199 59.199z"/>
                                    </svg>
                                </span>

                            </div>
                        </div>

                        <div id="beUsedFor" class="">
                            <div class="title" data-i18n="anlihouse-A273"></div>

                            <span class="plus" style="display:none">
                                <span class="badge elem single filterBeUsedForAll active" data-name="0"
                                      data-status="active">
                                    <span class="text" data-i18n="anlihouse-A269"></span>
                                </span>

                                <span class="badge elem plus-icon">
                                    <svg width="16" height="16" viewBox="0 0 752 752"
                                         xmlns="http://www.w3.org/2000/svg"><defs><clipPath class="p"><path
                                            d="m139.21 139.21h473.58v473.58h-473.58z"/></clipPath></defs><g
                                            clip-path="url(.p)"><path
                                            d="m318.6 139.21h114.8v179.39h179.39v114.8h-179.39v179.39h-114.8v-179.39h-179.39v-114.8h179.39z"
                                            fill-rule="evenodd"/></g></svg>
                                </span>
                            </span>

                            <div class="badge-group active">
                                <span class="badge elem single filterBeUsedForAll active" data-name="0"
                                      data-status="active">
                                    <span class="text" data-i18n="anlihouse-A269"></span>
                                </span>

                                <div class="filterBeUsedFor"></div>

                                <span class="badge elem minus-icon">
                                    <svg width="16" height="716" viewBox="0 0 752 752"
                                         xmlns="http://www.w3.org/2000/svg">
                                        <path d="m538.79 376c0 32.695-32.695 59.199-59.199 59.199h-207.19c-32.695 0-59.199-26.504-59.199-59.199s32.695-59.199 59.199-59.199h207.19c32.695 0 59.199 26.504 59.199 59.199z"/>
                                    </svg>
                                </span>
                            </div>
                        </div>

                        <div id="age" class="">
                            <div class="title" data-i18n="anlihouse-A274"></div>

                            <span class="plus" style="display:none">
                                <span class="badge elem single active" style="pointer-events:none;">
                                    <span class="text"><span class="tooltip-lower"></span> - <span
                                            class="tooltip-upper"></span></span>
                                </span>

                                <span class="badge elem plus-icon">
                                    <svg width="16" height="16" viewBox="0 0 752 752"
                                         xmlns="http://www.w3.org/2000/svg"><defs><clipPath class="p"><path
                                            d="m139.21 139.21h473.58v473.58h-473.58z"/></clipPath></defs><g
                                            clip-path="url(.p)"><path
                                            d="m318.6 139.21h114.8v179.39h179.39v114.8h-179.39v179.39h-114.8v-179.39h-179.39v-114.8h179.39z"
                                            fill-rule="evenodd"/></g>
                                    </svg>
                                </span>
                            </span>

                            <div class="badge-group active">

                                <span class="badge elem single active" style="pointer-events:none;">
                                    <span class="text"><span class="tooltip-lower"></span> - <span
                                            class="tooltip-upper"></span></span>
                                </span>

                                <span class="badge elem minus-icon">
                                    <svg width="16" height="716" viewBox="0 0 752 752"
                                         xmlns="http://www.w3.org/2000/svg">
                                        <path d="m538.79 376c0 32.695-32.695 59.199-59.199 59.199h-207.19c-32.695 0-59.199-26.504-59.199-59.199s32.695-59.199 59.199-59.199h207.19c32.695 0 59.199 26.504 59.199 59.199z"/>
                                    </svg>
                                </span>

                                <div id="age-slider"></div>
                            </div>
                        </div>

                        <div id="countryResidence">
                            <div class="title" data-i18n="anlihouse-A276"></div>

                            <span class="plus" style="display:none">
                                <span class="badge elem single region filterCountryResidenceAll active" data-name="ALL"
                                      data-status="active">
                                    <span class="text" data-i18n="anlihouse-A269"></span>
                                </span>
                                <span class="badge elem plus-icon">
                                    <svg width="16" height="16" viewBox="0 0 752 752"
                                         xmlns="http://www.w3.org/2000/svg"><defs><clipPath class="p"><path
                                            d="m139.21 139.21h473.58v473.58h-473.58z"/></clipPath></defs><g
                                            clip-path="url(.p)"><path
                                            d="m318.6 139.21h114.8v179.39h179.39v114.8h-179.39v179.39h-114.8v-179.39h-179.39v-114.8h179.39z"
                                            fill-rule="evenodd"/></g>
                                    </svg>
                                </span>
                            </span>

                            <div class="badge-group active">
                                <span class="badge elem single region filterCountryResidenceAll active" data-name="ALL"
                                      data-status="active">
                                    <span class="text" data-i18n="anlihouse-A269"></span>
                                </span>

                                <span id="{{ filter_countries['Americas'][0]['region_code'] }}"
                                      class="badge elem multiple region inactive"
                                      data-name="{{ filter_countries['Americas'][0]['region_code'] }}"
                                      data-status="inactive">
                                    <span class="text">{{ filter_countries['Americas'][0]['region'] }}</span>
                                </span>

                                <span id="{{ filter_countries['Europe'][0]['region_code'] }}"
                                      class="badge elem multiple region inactive"
                                      data-name="{{ filter_countries['Europe'][0]['region_code'] }}"
                                      data-status="inactive">
                                    <span class="text">{{ filter_countries['Europe'][0]['region'] }}</span>
                                </span>

                                <span id="{{ filter_countries['Asia'][0]['region_code'] }}"
                                      class="badge elem multiple region inactive"
                                      data-name="{{ filter_countries['Asia'][0]['region_code'] }}"
                                      data-status="inactive">
                                    <span class="text">{{ filter_countries['Asia'][0]['region'] }}</span>
                                </span>

                                <span id="{{ filter_countries['Africa'][0]['region_code'] }}"
                                      class="badge elem multiple region inactive"
                                      data-name="{{ filter_countries['Africa'][0]['region_code'] }}"
                                      data-status="inactive">
                                    <span class="text">{{ filter_countries['Africa'][0]['region'] }}</span>
                                </span>

                                <span id="{{ filter_countries['Oceania'][0]['region_code'] }}"
                                      class="badge elem multiple region inactive"
                                      data-name="{{ filter_countries['Oceania'][0]['region_code'] }}"
                                      data-status="inactive">
                                    <span class="text">{{ filter_countries['Oceania'][0]['region'] }}</span>
                                </span>

                                <span id="{{ filter_countries['Antarctic'][0]['region_code'] }}"
                                      class="badge elem multiple region inactive"
                                      data-name="{{ filter_countries['Antarctic'][0]['region_code'] }}"
                                      data-status="inactive">
                                    <span class="text">{{ filter_countries['Antarctic'][0]['region'] }}</span>
                                </span>

                                <span class="badge elem minus-icon">
                                    <svg width="16" height="716" viewBox="0 0 752 752"
                                         xmlns="http://www.w3.org/2000/svg">
                                        <path d="m538.79 376c0 32.695-32.695 59.199-59.199 59.199h-207.19c-32.695 0-59.199-26.504-59.199-59.199s32.695-59.199 59.199-59.199h207.19c32.695 0 59.199 26.504 59.199 59.199z"/>
                                    </svg>
                                </span>

                                <span class="countries-group countries-residence inactive"
                                      data-region_code="{{ filter_countries['Americas'][0]['region_code'] }}">
                                    {% for country in filter_countries['Americas'] %}
                                        <span class="badge elem multiple country inactive"
                                              data-name="{{ country['country_code'] }}"
                                              data-status="inactive">
                                        <span class="text">{{ country['country'] }}</span>
                                    </span>
                                    {% endfor %}
                                </span>

                                <span class="countries-group countries-residence inactive"
                                      data-region_code="{{ filter_countries['Europe'][0]['region_code'] }}">
                                    {% for country in filter_countries['Europe'] %}
                                        <span class="badge elem multiple country inactive"
                                              data-name="{{ country['country_code'] }}"
                                              data-status="inactive">
                                        <span class="text">{{ country['country'] }}</span>
                                    </span>
                                    {% endfor %}
                                </span>

                                <span class="countries-group countries-residence inactive"
                                      data-region_code="{{ filter_countries['Asia'][0]['region_code'] }}">
                                    {% for country in filter_countries['Asia'] %}
                                        <span class="badge elem multiple country inactive"
                                              data-name="{{ country['country_code'] }}"
                                              data-status="inactive">
                                        <span class="text">{{ country['country'] }}</span>
                                    </span>
                                    {% endfor %}
                                </span>

                                <span class="countries-group countries-residence inactive"
                                      data-region_code="{{ filter_countries['Africa'][0]['region_code'] }}">
                                    {% for country in filter_countries['Africa'] %}
                                        <span class="badge elem multiple country inactive"
                                              data-name="{{ country['country_code'] }}"
                                              data-status="inactive">
                                        <span class="text">{{ country['country'] }}</span>
                                    </span>
                                    {% endfor %}
                                </span>

                                <span class="countries-group countries-residence inactive"
                                      data-region_code="{{ filter_countries['Oceania'][0]['region_code'] }}">
                                    {% for country in filter_countries['Oceania'] %}
                                        <span class="badge elem multiple country inactive"
                                              data-name="{{ country['country_code'] }}"
                                              data-status="inactive">
                                        <span class="text">{{ country['country'] }}</span>
                                    </span>
                                    {% endfor %}
                                </span>

                                <span class="countries-group countries-residence inactive"
                                      data-region_code="{{ filter_countries['Antarctic'][0]['region_code'] }}">
                                    {% for country in filter_countries['Antarctic'] %}
                                        <span class="badge elem multiple country inactive"
                                              data-name="{{ country['country_code'] }}"
                                              data-status="inactive">
                                        <span class="text">{{ country['country'] }}</span>
                                    </span>
                                    {% endfor %}
                                </span>
                            </div>
                        </div>

                        <div id="countryOrigin">
                            <div class="title" data-i18n="anlihouse-A277"></div>

                            <span class="plus" style="display:none">
                                <span class="badge elem single region filterCountryOriginAll active" data-name="ALL"
                                      data-status="active">
                                    <span class="text" data-i18n="anlihouse-A269"></span>
                                </span>
                                <span class="badge elem plus-icon">
                                    <svg width="16" height="16" viewBox="0 0 752 752"
                                         xmlns="http://www.w3.org/2000/svg"><defs><clipPath class="p"><path
                                            d="m139.21 139.21h473.58v473.58h-473.58z"/></clipPath></defs><g
                                            clip-path="url(.p)"><path
                                            d="m318.6 139.21h114.8v179.39h179.39v114.8h-179.39v179.39h-114.8v-179.39h-179.39v-114.8h179.39z"
                                            fill-rule="evenodd"/></g>
                                    </svg>
                                </span>
                            </span>

                            <div class="badge-group active">
                                <span class="badge elem single region filterCountryOriginAll active" data-name="ALL"
                                      data-status="active">
                                    <span class="text" data-i18n="anlihouse-A269"></span>
                                </span>

                                <span id="{{ filter_countries['Americas'][0]['region_code'] }}"
                                      class="badge elem multiple region inactive"
                                      data-name="{{ filter_countries['Americas'][0]['region_code'] }}"
                                      data-status="inactive">
                                    <span class="text">{{ filter_countries['Americas'][0]['region'] }}</span>
                                </span>

                                <span id="{{ filter_countries['Europe'][0]['region_code'] }}"
                                      class="badge elem multiple region inactive"
                                      data-name="{{ filter_countries['Europe'][0]['region_code'] }}"
                                      data-status="inactive">
                                    <span class="text">{{ filter_countries['Europe'][0]['region'] }}</span>
                                </span>

                                <span id="{{ filter_countries['Asia'][0]['region_code'] }}"
                                      class="badge elem multiple region inactive"
                                      data-name="{{ filter_countries['Asia'][0]['region_code'] }}"
                                      data-status="inactive">
                                    <span class="text">{{ filter_countries['Asia'][0]['region'] }}</span>
                                </span>

                                <span id="{{ filter_countries['Africa'][0]['region_code'] }}"
                                      class="badge elem multiple region inactive"
                                      data-name="{{ filter_countries['Africa'][0]['region_code'] }}"
                                      data-status="inactive">
                                    <span class="text">{{ filter_countries['Africa'][0]['region'] }}</span>
                                </span>

                                <span id="{{ filter_countries['Oceania'][0]['region_code'] }}"
                                      class="badge elem multiple region inactive"
                                      data-name="{{ filter_countries['Oceania'][0]['region_code'] }}"
                                      data-status="inactive">
                                    <span class="text">{{ filter_countries['Oceania'][0]['region'] }}</span>
                                </span>

                                <span id="{{ filter_countries['Antarctic'][0]['region_code'] }}"
                                      class="badge elem multiple region inactive"
                                      data-name="{{ filter_countries['Antarctic'][0]['region_code'] }}"
                                      data-status="inactive">
                                    <span class="text">{{ filter_countries['Antarctic'][0]['region'] }}</span>
                                </span>

                                <span class="badge elem minus-icon">
                                    <svg width="16" height="716" viewBox="0 0 752 752"
                                         xmlns="http://www.w3.org/2000/svg">
                                        <path d="m538.79 376c0 32.695-32.695 59.199-59.199 59.199h-207.19c-32.695 0-59.199-26.504-59.199-59.199s32.695-59.199 59.199-59.199h207.19c32.695 0 59.199 26.504 59.199 59.199z"/>
                                    </svg>
                                </span>

                                <span class="countries-group countries-origin inactive"
                                      data-region_code="{{ filter_countries['Americas'][0]['region_code'] }}">
                                    {% for country in filter_countries['Americas'] %}
                                        <span class="badge elem multiple country inactive"
                                              data-name="{{ country['country_code'] }}"
                                              data-status="inactive">
                                        <span class="text">{{ country['country'] }}</span>
                                    </span>
                                    {% endfor %}
                                </span>

                                <span class="countries-group countries-origin inactive"
                                      data-region_code="{{ filter_countries['Europe'][0]['region_code'] }}">
                                    {% for country in filter_countries['Europe'] %}
                                        <span class="badge elem multiple country inactive"
                                              data-name="{{ country['country_code'] }}"
                                              data-status="inactive">
                                        <span class="text">{{ country['country'] }}</span>
                                    </span>
                                    {% endfor %}
                                </span>

                                <span class="countries-group countries-origin inactive"
                                      data-region_code="{{ filter_countries['Asia'][0]['region_code'] }}">
                                    {% for country in filter_countries['Asia'] %}
                                        <span class="badge elem multiple country inactive"
                                              data-name="{{ country['country_code'] }}"
                                              data-status="inactive">
                                        <span class="text">{{ country['country'] }}</span>
                                    </span>
                                    {% endfor %}
                                </span>

                                <span class="countries-group countries-origin inactive"
                                      data-region_code="{{ filter_countries['Africa'][0]['region_code'] }}">
                                    {% for country in filter_countries['Africa'] %}
                                        <span class="badge elem multiple country inactive"
                                              data-name="{{ country['country_code'] }}"
                                              data-status="inactive">
                                        <span class="text">{{ country['country'] }}</span>
                                    </span>
                                    {% endfor %}
                                </span>

                                <span class="countries-group countries-origin inactive"
                                      data-region_code="{{ filter_countries['Oceania'][0]['region_code'] }}">
                                    {% for country in filter_countries['Oceania'] %}
                                        <span class="badge elem multiple country inactive"
                                              data-name="{{ country['country_code'] }}"
                                              data-status="inactive">
                                        <span class="text">{{ country['country'] }}</span>
                                    </span>
                                    {% endfor %}
                                </span>

                                <span class="countries-group countries-origin inactive"
                                      data-region_code="{{ filter_countries['Antarctic'][0]['region_code'] }}">
                                    {% for country in filter_countries['Antarctic'] %}
                                        <span class="badge elem multiple country inactive"
                                              data-name="{{ country['country_code'] }}"
                                              data-status="inactive">
                                        <span class="text">{{ country['country'] }}</span>
                                    </span>
                                    {% endfor %}
                                </span>
                            </div>
                        </div>

                        <div id="search-btn" class="inactive">
                            <a id="searchBtn" class="btn btn-primary" href="" role="button" data-i18n=""><span
                                    class="text" data-i18n="anlihouse-A301"></span><span class="count"><span
                                    class="count-data">0</span> <span data-i18n="anlihouse-A302"></span></span></a>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

</div>