{% extends "layout.jinja2" %}

{# Start Breadcrumb #}
{% block breadcrumb %}
    <div id="breadcrumb">

        <div class="container w-100 mw-100 pl-3 pr-3">
            <div class="row">
                <div class="col-12">
                    <nav class="float-left" aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a class="hover" href="{{ url_for('index_module.index') }}"
                                                           data-i18n="anlihouse-anlihouse"></a>
                            </li>
                            <li class="breadcrumb-item"><a class="hover" href="{{ url_for('index_module.index') }}"
                                                           data-i18n="anlihouse-anlibreeders"></a></li>
                            <li class="breadcrumb-item active" aria-current="page" data-i18n="regisztracio"></li>
                            <li class="breadcrumb-item active" aria-current="page" data-i18n="anlihouse-A13"></li>
                        </ol>
                    </nav>

                    <div id="light-dark-change" class="dropdown float-right">

                        <div id="dark" class="d-block">
                            <span class="dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                            <div id="dark-show">
                                <span data-i18n="anlihouse-A414"></span>
                                <span class="dark-icon"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                                             fill="currentColor" class="bi bi-moon-stars-fill"
                                                             viewBox="0 0 16 16"><path
                                        d="M6 .278a.768.768 0 0 1 .08.858 7.208 7.208 0 0 0-.878 3.46c0 4.021 3.278 7.277 7.318 7.277.527 0 1.04-.055 1.533-.16a.787.787 0 0 1 .81.316.733.733 0 0 1-.031.893A8.349 8.349 0 0 1 8.344 16C3.734 16 0 12.286 0 7.71 0 4.266 2.114 1.312 5.124.06A.752.752 0 0 1 6 .278z"/><path
                                        d="M10.794 3.148a.217.217 0 0 1 .412 0l.387 1.162c.173.518.579.924 1.097 1.097l1.162.387a.217.217 0 0 1 0 .412l-1.162.387a1.734 1.734 0 0 0-1.097 1.097l-.387 1.162a.217.217 0 0 1-.412 0l-.387-1.162A1.734 1.734 0 0 0 9.31 6.593l-1.162-.387a.217.217 0 0 1 0-.412l1.162-.387a1.734 1.734 0 0 0 1.097-1.097l.387-1.162zM13.863.099a.145.145 0 0 1 .274 0l.258.774c.115.346.386.617.732.732l.774.258a.145.145 0 0 1 0 .274l-.774.258a1.156 1.156 0 0 0-.732.732l-.258.774a.145.145 0 0 1-.274 0l-.258-.774a1.156 1.156 0 0 0-.732-.732l-.774-.258a.145.145 0 0 1 0-.274l.774-.258c.346-.115.617-.386.732-.732L13.863.1z"/></svg></span>
                                <span data-i18n="anlihouse-dark"></span>
                            </div>
                            </span>
                            <ul class="dropdown-menu">
                                <li class="click-light-mode">
                                    <span class="dropdown-item">
                                        <span><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                                   fill="currentColor" class="bi bi-sun-fill"
                                                   viewBox="0 0 16 16"><path
                                                d="M8 12a4 4 0 1 0 0-8 4 4 0 0 0 0 8zM8 0a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-1 0v-2A.5.5 0 0 1 8 0zm0 13a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-1 0v-2A.5.5 0 0 1 8 13zm8-5a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1 0-1h2a.5.5 0 0 1 .5.5zM3 8a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1 0-1h2A.5.5 0 0 1 3 8zm10.657-5.657a.5.5 0 0 1 0 .707l-1.414 1.415a.5.5 0 1 1-.707-.708l1.414-1.414a.5.5 0 0 1 .707 0zm-9.193 9.193a.5.5 0 0 1 0 .707L3.05 13.657a.5.5 0 0 1-.707-.707l1.414-1.414a.5.5 0 0 1 .707 0zm9.193 2.121a.5.5 0 0 1-.707 0l-1.414-1.414a.5.5 0 0 1 .707-.707l1.414 1.414a.5.5 0 0 1 0 .707zM4.464 4.465a.5.5 0 0 1-.707 0L2.343 3.05a.5.5 0 1 1 .707-.707l1.414 1.414a.5.5 0 0 1 0 .708z"/></svg></span>
                                        <span data-i18n="anlihouse-light"></span>
                                    </span>
                                </li>
                                <li class="click-color-mode">
                                    <span class="dropdown-item">
                                        <span><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                                   fill="currentColor" class="bi bi-palette-fill" viewBox="0 0 16 16"><path
                                                d="M12.433 10.07C14.133 10.585 16 11.15 16 8a8 8 0 1 0-8 8c1.996 0 1.826-1.504 1.649-3.08-.124-1.101-.252-2.237.351-2.92.465-.527 1.42-.237 2.433.07zM8 5a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm4.5 3a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zM5 6.5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zm.5 6.5a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3z"/></svg></span>
                                        <span data-i18n="anlihouse-color"></span>
                                    </span>
                                </li>
                                <li>
                                    <hr class="dropdown-divider">
                                </li>
                                <li class="disabled">
                                    <span class="dropdown-item disabled">
                                        <span><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                                   fill="currentColor" class="bi bi-moon-stars-fill"
                                                   viewBox="0 0 16 16"><path
                                                d="M6 .278a.768.768 0 0 1 .08.858 7.208 7.208 0 0 0-.878 3.46c0 4.021 3.278 7.277 7.318 7.277.527 0 1.04-.055 1.533-.16a.787.787 0 0 1 .81.316.733.733 0 0 1-.031.893A8.349 8.349 0 0 1 8.344 16C3.734 16 0 12.286 0 7.71 0 4.266 2.114 1.312 5.124.06A.752.752 0 0 1 6 .278z"/><path
                                                d="M10.794 3.148a.217.217 0 0 1 .412 0l.387 1.162c.173.518.579.924 1.097 1.097l1.162.387a.217.217 0 0 1 0 .412l-1.162.387a1.734 1.734 0 0 0-1.097 1.097l-.387 1.162a.217.217 0 0 1-.412 0l-.387-1.162A1.734 1.734 0 0 0 9.31 6.593l-1.162-.387a.217.217 0 0 1 0-.412l1.162-.387a1.734 1.734 0 0 0 1.097-1.097l.387-1.162zM13.863.099a.145.145 0 0 1 .274 0l.258.774c.115.346.386.617.732.732l.774.258a.145.145 0 0 1 0 .274l-.774.258a1.156 1.156 0 0 0-.732.732l-.258.774a.145.145 0 0 1-.274 0l-.258-.774a1.156 1.156 0 0 0-.732-.732l-.774-.258a.145.145 0 0 1 0-.274l.774-.258c.346-.115.617-.386.732-.732L13.863.1z"/></svg></span>
                                        <span data-i18n="anlihouse-dark"></span>
                                    </span>
                                </li>
                            </ul>
                        </div>

                        <div id="light" class="d-none">
                            <span class="dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                            <div id="light-show">
                                <span data-i18n="anlihouse-A414"></span>
                                <span class="light-icon"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                                              fill="currentColor" class="bi bi-sun-fill"
                                                              viewBox="0 0 16 16"><path
                                        d="M8 12a4 4 0 1 0 0-8 4 4 0 0 0 0 8zM8 0a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-1 0v-2A.5.5 0 0 1 8 0zm0 13a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-1 0v-2A.5.5 0 0 1 8 13zm8-5a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1 0-1h2a.5.5 0 0 1 .5.5zM3 8a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1 0-1h2A.5.5 0 0 1 3 8zm10.657-5.657a.5.5 0 0 1 0 .707l-1.414 1.415a.5.5 0 1 1-.707-.708l1.414-1.414a.5.5 0 0 1 .707 0zm-9.193 9.193a.5.5 0 0 1 0 .707L3.05 13.657a.5.5 0 0 1-.707-.707l1.414-1.414a.5.5 0 0 1 .707 0zm9.193 2.121a.5.5 0 0 1-.707 0l-1.414-1.414a.5.5 0 0 1 .707-.707l1.414 1.414a.5.5 0 0 1 0 .707zM4.464 4.465a.5.5 0 0 1-.707 0L2.343 3.05a.5.5 0 1 1 .707-.707l1.414 1.414a.5.5 0 0 1 0 .708z"/></svg></span>
                                <span data-i18n="anlihouse-light"></span>
                            </div>
                            </span>
                            <ul class="dropdown-menu">
                                <li class="click-dark-mode">
                                    <span class="dropdown-item">
                                        <span><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                                   fill="currentColor" class="bi bi-moon-stars-fill"
                                                   viewBox="0 0 16 16"><path
                                                d="M6 .278a.768.768 0 0 1 .08.858 7.208 7.208 0 0 0-.878 3.46c0 4.021 3.278 7.277 7.318 7.277.527 0 1.04-.055 1.533-.16a.787.787 0 0 1 .81.316.733.733 0 0 1-.031.893A8.349 8.349 0 0 1 8.344 16C3.734 16 0 12.286 0 7.71 0 4.266 2.114 1.312 5.124.06A.752.752 0 0 1 6 .278z"/><path
                                                d="M10.794 3.148a.217.217 0 0 1 .412 0l.387 1.162c.173.518.579.924 1.097 1.097l1.162.387a.217.217 0 0 1 0 .412l-1.162.387a1.734 1.734 0 0 0-1.097 1.097l-.387 1.162a.217.217 0 0 1-.412 0l-.387-1.162A1.734 1.734 0 0 0 9.31 6.593l-1.162-.387a.217.217 0 0 1 0-.412l1.162-.387a1.734 1.734 0 0 0 1.097-1.097l.387-1.162zM13.863.099a.145.145 0 0 1 .274 0l.258.774c.115.346.386.617.732.732l.774.258a.145.145 0 0 1 0 .274l-.774.258a1.156 1.156 0 0 0-.732.732l-.258.774a.145.145 0 0 1-.274 0l-.258-.774a1.156 1.156 0 0 0-.732-.732l-.774-.258a.145.145 0 0 1 0-.274l.774-.258c.346-.115.617-.386.732-.732L13.863.1z"/></svg></span>
                                        <span data-i18n="anlihouse-dark"></span>
                                    </span>
                                </li>
                                <li class="click-color-mode">
                                    <span class="dropdown-item">
                                        <span><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                                   fill="currentColor" class="bi bi-palette-fill" viewBox="0 0 16 16"><path
                                                d="M12.433 10.07C14.133 10.585 16 11.15 16 8a8 8 0 1 0-8 8c1.996 0 1.826-1.504 1.649-3.08-.124-1.101-.252-2.237.351-2.92.465-.527 1.42-.237 2.433.07zM8 5a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm4.5 3a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zM5 6.5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zm.5 6.5a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3z"/></svg></span>
                                        <span data-i18n="anlihouse-color"></span>
                                    </span>
                                </li>
                                <li>
                                    <hr class="dropdown-divider">
                                </li>
                                <li class="disabled">
                                    <span class="dropdown-item disabled">
                                        <span><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                                   fill="currentColor" class="bi bi-sun-fill"
                                                   viewBox="0 0 16 16"><path
                                                d="M8 12a4 4 0 1 0 0-8 4 4 0 0 0 0 8zM8 0a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-1 0v-2A.5.5 0 0 1 8 0zm0 13a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-1 0v-2A.5.5 0 0 1 8 13zm8-5a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1 0-1h2a.5.5 0 0 1 .5.5zM3 8a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1 0-1h2A.5.5 0 0 1 3 8zm10.657-5.657a.5.5 0 0 1 0 .707l-1.414 1.415a.5.5 0 1 1-.707-.708l1.414-1.414a.5.5 0 0 1 .707 0zm-9.193 9.193a.5.5 0 0 1 0 .707L3.05 13.657a.5.5 0 0 1-.707-.707l1.414-1.414a.5.5 0 0 1 .707 0zm9.193 2.121a.5.5 0 0 1-.707 0l-1.414-1.414a.5.5 0 0 1 .707-.707l1.414 1.414a.5.5 0 0 1 0 .707zM4.464 4.465a.5.5 0 0 1-.707 0L2.343 3.05a.5.5 0 1 1 .707-.707l1.414 1.414a.5.5 0 0 1 0 .708z"/></svg></span>
                                        <span data-i18n="anlihouse-light"></span>
                                    </span>
                                </li>
                            </ul>
                        </div>

                        <div id="color" class="d-none">
                            <span class="dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                            <div id="color-show">
                                <span data-i18n="anlihouse-A414"></span>
                                <span class="color-icon"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                                              fill="currentColor" class="bi bi-palette-fill"
                                                              viewBox="0 0 16 16"><path
                                        d="M12.433 10.07C14.133 10.585 16 11.15 16 8a8 8 0 1 0-8 8c1.996 0 1.826-1.504 1.649-3.08-.124-1.101-.252-2.237.351-2.92.465-.527 1.42-.237 2.433.07zM8 5a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm4.5 3a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zM5 6.5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zm.5 6.5a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3z"/></svg></span>
                                <span data-i18n="anlihouse-color"></span>
                            </div>
                            </span>
                            <ul class="dropdown-menu">
                                <li class="click-dark-mode">
                                    <span class="dropdown-item">
                                        <span><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                                   fill="currentColor" class="bi bi-moon-stars-fill"
                                                   viewBox="0 0 16 16"><path
                                                d="M6 .278a.768.768 0 0 1 .08.858 7.208 7.208 0 0 0-.878 3.46c0 4.021 3.278 7.277 7.318 7.277.527 0 1.04-.055 1.533-.16a.787.787 0 0 1 .81.316.733.733 0 0 1-.031.893A8.349 8.349 0 0 1 8.344 16C3.734 16 0 12.286 0 7.71 0 4.266 2.114 1.312 5.124.06A.752.752 0 0 1 6 .278z"/><path
                                                d="M10.794 3.148a.217.217 0 0 1 .412 0l.387 1.162c.173.518.579.924 1.097 1.097l1.162.387a.217.217 0 0 1 0 .412l-1.162.387a1.734 1.734 0 0 0-1.097 1.097l-.387 1.162a.217.217 0 0 1-.412 0l-.387-1.162A1.734 1.734 0 0 0 9.31 6.593l-1.162-.387a.217.217 0 0 1 0-.412l1.162-.387a1.734 1.734 0 0 0 1.097-1.097l.387-1.162zM13.863.099a.145.145 0 0 1 .274 0l.258.774c.115.346.386.617.732.732l.774.258a.145.145 0 0 1 0 .274l-.774.258a1.156 1.156 0 0 0-.732.732l-.258.774a.145.145 0 0 1-.274 0l-.258-.774a1.156 1.156 0 0 0-.732-.732l-.774-.258a.145.145 0 0 1 0-.274l.774-.258c.346-.115.617-.386.732-.732L13.863.1z"/></svg></span>
                                        <span data-i18n="anlihouse-dark"></span>
                                    </span>
                                </li>
                                <li class="click-light-mode">
                                    <span class="dropdown-item">
                                        <span><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                                   fill="currentColor" class="bi bi-sun-fill"
                                                   viewBox="0 0 16 16"><path
                                                d="M8 12a4 4 0 1 0 0-8 4 4 0 0 0 0 8zM8 0a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-1 0v-2A.5.5 0 0 1 8 0zm0 13a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-1 0v-2A.5.5 0 0 1 8 13zm8-5a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1 0-1h2a.5.5 0 0 1 .5.5zM3 8a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1 0-1h2A.5.5 0 0 1 3 8zm10.657-5.657a.5.5 0 0 1 0 .707l-1.414 1.415a.5.5 0 1 1-.707-.708l1.414-1.414a.5.5 0 0 1 .707 0zm-9.193 9.193a.5.5 0 0 1 0 .707L3.05 13.657a.5.5 0 0 1-.707-.707l1.414-1.414a.5.5 0 0 1 .707 0zm9.193 2.121a.5.5 0 0 1-.707 0l-1.414-1.414a.5.5 0 0 1 .707-.707l1.414 1.414a.5.5 0 0 1 0 .707zM4.464 4.465a.5.5 0 0 1-.707 0L2.343 3.05a.5.5 0 1 1 .707-.707l1.414 1.414a.5.5 0 0 1 0 .708z"/></svg></span>
                                        <span data-i18n="anlihouse-light"></span>
                                    </span>
                                </li>
                                <li>
                                    <hr class="dropdown-divider">
                                </li>
                                <li class="disabled">
                                    <span class="dropdown-item disabled">
                                        <span><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                                   fill="currentColor" class="bi bi-sun-fill"
                                                   viewBox="0 0 16 16"><path
                                                d="M8 12a4 4 0 1 0 0-8 4 4 0 0 0 0 8zM8 0a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-1 0v-2A.5.5 0 0 1 8 0zm0 13a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-1 0v-2A.5.5 0 0 1 8 13zm8-5a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1 0-1h2a.5.5 0 0 1 .5.5zM3 8a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1 0-1h2A.5.5 0 0 1 3 8zm10.657-5.657a.5.5 0 0 1 0 .707l-1.414 1.415a.5.5 0 1 1-.707-.708l1.414-1.414a.5.5 0 0 1 .707 0zm-9.193 9.193a.5.5 0 0 1 0 .707L3.05 13.657a.5.5 0 0 1-.707-.707l1.414-1.414a.5.5 0 0 1 .707 0zm9.193 2.121a.5.5 0 0 1-.707 0l-1.414-1.414a.5.5 0 0 1 .707-.707l1.414 1.414a.5.5 0 0 1 0 .707zM4.464 4.465a.5.5 0 0 1-.707 0L2.343 3.05a.5.5 0 1 1 .707-.707l1.414 1.414a.5.5 0 0 1 0 .708z"/></svg></span>
                                        <span data-i18n="anlihouse-color"></span>
                                    </span>
                                </li>
                            </ul>
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div>
{% endblock %}
{# End Breadcrumb #}

{# Start Content #}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-12">

                <div class="card">
                    <div class="card-header" data-i18n="regisztracio"></div>
                    <div class="card-body">

                        <h5 class="card-title" data-i18n="anlihouse-A14"></h5>

                        <p class="card-text" data-i18n="anlihouse-A15"></p>

                        <ul class="steps">
                            <li class="step step-success">
                                <div class="step-content">
                                    <span class="step-circle">1</span>
                                </div>
                            </li>
                            <li class="step step-success">
                                <div class="step-content">
                                    <span class="step-circle">2</span>
                                </div>
                            </li>
                            <li class="step step-active">
                                <div class="step-content">
                                    <span class="step-circle">3</span>
                                </div>
                            </li>
                        </ul>

                        <form id="sign-up-data-form" onsubmit="return false" novalidate="novalidate">
                            {{ form.csrf_token }}

                            {{ form.code(type='hidden', id='signUpCode', class='form-control', autocomplete='off') }}
                            {{ form.privacy(type='hidden', id='signUpPrivacy', class='form-control', autocomplete='off') }}

                            <div class="mb-4">
                                <label for="signUpEmail" class="form-label">
                                    <span data-i18n="email"></span>
                                    <span class="text-danger text-lowercase fs-12px"
                                          data-i18n="anlihouse-A18"></span>
                                </label>
                                {{ form.email(type='email', id='signUpEmail', class='form-control', autocomplete='off') }}
                                <small class="text-danger input-error sign-up-email-error d-none">
                                    <span data-i18n=""></span>
                                </small>
                            </div>

                            <div class="mb-4">
                                <label for="signUpName" class="form-label">
                                    <span data-i18n="user_id"></span>
                                    <span class="text-danger text-lowercase fs-12px"
                                          data-i18n="anlihouse-A18"></span>
                                </label>
                                {{ form.name(type='text', id='signUpName', class='form-control', autocomplete='off') }}
                                <small class="text-danger input-error sign-up-username-error d-none">
                                    <span data-i18n=""></span>
                                </small>
                            </div>

                            <div class="row">
                                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 col-xxl-6">
                                    <div class="mb-4">
                                        <label for="signUpPassword" class="form-label">
                                            <span data-i18n="anlihouse-A24"></span>
                                            <span class="text-danger text-lowercase fs-12px"
                                                  data-i18n="anlihouse-A18"></span>
                                        </label>
                                        <span class="input-group">
                                        {{ form.password(type='password', id='signUpPassword', class='form-control') }}
                                        <span class="input-group-text cursor-pointer password plus-icon inactive">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                                 fill="currentColor" class="bi bi-plus-circle-fill" viewBox="0 0 16 16"><path
                                                    d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.5 4.5a.5.5 0 0 0-1 0v3h-3a.5.5 0 0 0 0 1h3v3a.5.5 0 0 0 1 0v-3h3a.5.5 0 0 0 0-1h-3v-3z"/></svg>
                                        </span>
                                            <span class="input-group-text cursor-pointer password eye-icon inactive">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                                     fill="currentColor" class="bi bi-eye-fill" viewBox="0 0 16 16"><path
                                                        d="M10.5 8a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0z"/><path
                                                        d="M0 8s3-5.5 8-5.5S16 8 16 8s-3 5.5-8 5.5S0 8 0 8zm8 3.5a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7z"/></svg>
                                            </span>
                                        </span>
                                        <small class="text-danger input-error sign-up-password-error d-none">
                                            <span data-i18n=""></span>
                                        </small>
                                        <div id="signUpPasswordHelp" class="form-text"
                                             data-i18n="anlihouse-A26"></div>
                                    </div>
                                </div>

                                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 col-xxl-6">
                                    <div class="mb-4">
                                        <label for="signUpPasswordConfirm" class="form-label">
                                            <span data-i18n="anlihouse-A25"></span>
                                            <span class="text-danger text-lowercase fs-12px"
                                                  data-i18n="anlihouse-A18"></span>
                                        </label>
                                        {{ form.password_confirm(type='password', id='signUpPasswordConfirm', class='form-control') }}
                                        <small class="text-danger input-error sign-up-password-confirm-error d-none">
                                            <span data-i18n=""></span>
                                        </small>
                                        <div id="signUpPasswordHelp" class="form-text"
                                             data-i18n="anlihouse-A27"></div>
                                    </div>
                                </div>
                            </div>

                            <div class="privacy mb-4 mt-0">
                                <input class="privacy-checkbox" type="checkbox" id="signUpCheckboxPrivacy"
                                       name="checkbox">
                                <a href="#" target="_blank" class="d-content" data-i18n="privacy"></a>
                                <small class="text-danger input-error sign-up-privacy-error" style="display: inherit;">
                                    <span data-i18n=""></span>
                                </small>
                            </div>

                            <div class="button-right text-right">
                                <button id="sign-up-data-form-button" type="submit" class="btn btn-primary"
                                        data-i18n="ment_es_tovabb"></button>
                            </div>

                            <div class="alert alert-danger form-alert-danger mb-0 mt-3 d-none" role="alert"
                                 data-i18n="anlihouse-A21">
                            </div>
                        </form>

                    </div>
                    <div class="card-footer text-end" data-i18n="anlihouse-anlibreeders"></div>
                </div>

            </div>
        </div>
    </div>
{% endblock %}