.env
!app/static/config/.env
.idea/
*.pyc
venv/
app/static/node_modules
app/static/.webassets-cache
app/static/package-lock.json
app/static/images/tmp/category/*
!app/static/images/tmp/category/.gitkeep
app/static/images/category/*
!app/static/images/category/.gitkeep
app/static/images/tmp/subcategory/*
!app/static/images/tmp/subcategory/.gitkeep
app/static/images/subcategory/*
!app/static/images/subcategory/.gitkeep
app/static/images/tmp/animal/*
!app/static/images/tmp/animal/.gitkeep
app/static/images/animal/*
!app/static/images/animal/.gitkeep
app/static/videos/tmp/animal/*
!app/static/videos/tmp/animal/.gitkeep
app/static/videos/animal/*
!app/static/videos/animal/.gitkeep
app/static/pdf/tmp/animal/*
!app/static/pdf/tmp/animal/.gitkeep
app/static/pdf/animal/*
!app/static/pdf/animal/.gitkeep
app/static/images/tmp/chat/*
!app/static/images/tmp/chat/.gitkeep
app/static/images/chat/*
!app/static/images/cjat/.gitkeep
app/static/pdf/tmp/full/*
!app/static/pdf/tmp/full/.gitkeep
app/static/videos/tmp/logger/*
!app/static/videos/tmp/logger/.gitkeep